* {
    padding: 0;
    margin: 0
}

body {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px,1fr));
}

.list {
    border: 1px solid #000;
    list-style: none;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: pink;

    &__btn {
        width: 100px;
        height: 30px;
        margin-top: 10px;
        font-size: 20px;
    }
}